<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tradetips | signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <input type="text" name="amount" id="prices" style="display: none" />
    <header class="header">
     <div class="container-fluid">
         <img class="img-fluid" src="img/tradetiplogo.svg" alt="logo">
     </div>
 </header>
     <section class="signup-section bg-grey">
         <div class="container">
            <div class="card card-padd shadow-sm rounded-card mb-3 mb-lg-4">
                <div class="newsletter-content padd_x20">
                     <span class="newsletter" id="typeService"></span>
                     <h2 id="nameService"></h2>
                     <p id="shortDescriptionService"></p>
                    <span class="news-client" id="mentorNameService"></span>
                </div>
                <div class="subscription d-flex align-items-center">
                    <img src="img/dollar.svg" alt="dollar-icon">
                    <h3 class="sub-name" id="frequncyService"></h3>
                    <h3 class="sub-price" id="priceService"></h3>
                </div>
            </div>
            <div class="card card-padd shadow-sm rounded-card mb-3 mb-lg-4 position-relative">
                 <div class="signup-thank mb-3 mb-lg-4">
                    <h2 class="form-heading">Thank you for signing up for this service, <%= name %>!</h2>
                    <p class="m-0">Remember your username <b><%= name %></b> and password.</p>
                 </div>
                 <div class="what-next">
                    <h2 class="form-heading">What’s Next?</h2>
                    <p class="m-0">Once you complete payment below, look out for a <b>Getting Started email</b> from us at <b><%= email %></b>
                        Use your username and password to log into the TradeTips app. Download it from your app store. </p>
                 </div>
                 <a class="btn btn-dark edit-btn" href="http://www.example.com/">Edit</a>
            </div>
            <div class="card card-padd shadow-sm rounded-card mb-3 mb-lg-4">
                <h2 class="form-heading mb-4">Order Summary</h2>
                <div class="order-summery">
                    <div class="order-content">
                        <div class="order-product d-flex align-items-center justify-content-between">
                            <div class="product-detail">
                                <img src="img/product.png" alt="product">
                                <p class="product-text d-inline-block">Video Subscription 1-1 for 30 mins</p>
                            </div>
                            <h4 class="product-price">$200.50</h4>
                        </div>
                    </div>
                   <h5 class="promo">Enter A Promo Code</h5>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="" aria-label="Search">
                        <a href="http://www.example.com/" class="btn btn-main btn-blue my-2 my-sm-0">Apply</a>
                    </form>
                    <div class="subtotal d-flex align-items-end justify-content-end flex-column mt-3">
                        <div class="list-item">
                            <p>Subtotal</p>
                            <span>$200.50</span>
                        </div>
                        <div class="list-item">
                            <p>Discount</p>
                            <span>$15.50</span>
                        </div>
                        <div class="list-item">
                            <p><b>Total</b></p>
                            <span><b>$200.50</b></span>
                        </div>  
                    </div>
                </div>
                <h2 class="form-heading my-4 ">Enter Payment Information</h2>
                <div class="row">
                    <div class="col-lg-7">
                        <form>
                            <div class="form-group form-row">
                              <label class="col-12" for="exampleInputEmail1">Enter Card No.</label>
                              <input type="text" class="form-control col-10"  placeholder="">
                              <img class="col-2 card-img" src="img/card.svg" alt="img">
                            </div>
                            <div class="form-row align-items-center justify-content-between">
                                <div class="form-group col-md-5">
                                  <label for="">Expiry Date.</label>
                                  <input type="text" placeholder="MM/YY" class="form-control">
                                </div>
                                <div class="form-group col-md-5 form-row">
                                    <label class="col-12" for="inputZip">CVV</label>
                                    <input type="text" class="form-control col-md-8 col-10" >
                                    <img class="col-md-4 col-2" src="img/cvv.svg" alt="img">
                                </div>
                              </div>
                               <div class="form-group">
                                <label for="exampleInputPassword1">Enter Cardholder’s Name</label>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                              <div class="guranted d-flex align-items-center flex-column flex-md-row">
                                <img src="img/lock.svg" alt="lock">
                                <p class="m-0 mx-2">Guarenteed safe & secure checkout</p>
                                <img src="img/stript.svg" alt="stript">
                              </div>
                            <a href="http://www.example.com/" class="btn btn-main d-block w-100 btn-blue">Pay Securely</a>
                        </form>
                    </div>
                </div>
            </div>
         </div>
     </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<input type="text" class="form-control" id="serviceIdDetaildata" value="<%= serviceIdDetail %>" style="display: none;">

  <script type="text/javascript">  
  
  var subsids = "<%= serviceIdDetail %>";
  // alert(subsids);

  var formdata = {serviceSubscriptionPlanId : subsids};
   $.ajax({
        type: 'POST',
        url: 'https://apistest.tradetipsapp.com/api/serviceMentorSubscriptionPlanWeb/getServiceSubscriptionPlanById',
        data: formdata,
        success: function(data) {
           var datak = JSON.stringify(data);
          // alert(datak);
          var dataResultp = JSON.parse(datak); 
          // alert(JSON.stringify(dataResultp));
          let str = dataResultp.stripeProductName;
          str = str.split("_")[0];
          document.getElementById("typeService").innerHTML = dataResultp.serviceTypeMaster.description;
          document.getElementById("nameService").innerHTML = dataResultp.title;
          document.getElementById("shortDescriptionService").innerHTML = dataResultp.descriptionOne;
          // document.getElementById("longDescriptionService").innerHTML = dataResultp.descriptionTwo;
          document.getElementById("mentorNameService").innerHTML = "By " + str;
          if(dataResultp.frequency == "0"){
               document.getElementById("frequncyService").innerHTML = "One Time Subscription : " ;
          }else if(dataResultp.frequency == "1"){ 
                document.getElementById("frequncyService").innerHTML = "Daily Subscription : ";
          }else if(dataResultp.frequency == "7"){
              document.getElementById("frequncyService").innerHTML = "Weekly Subscription : ";
          }else if(dataResultp.frequency == "15"){
              document.getElementById("frequncyService").innerHTML = "Bi-weekly Subscription : ";
          }else if(dataResultp.frequency == "30"){
              document.getElementById("frequncyService").innerHTML = "Monthly Subscription : ";
          }else {
              document.getElementById("frequncyService").innerHTML = "Yearly Subscription : ";
          }
          document.getElementById("priceService").innerHTML = "$" + parseFloat(dataResultp.price).toFixed(2);
          // document.getElementById("priceServicess").innerHTML ="$" + parseFloat(dataResultp.price).toFixed(2);
          // if(dataResultp.imageDetails == null){
          //     document.getElementById("serviceImage").src = dataResultp.thumbnailImageUrl;
          // }else{
          //      document.getElementById("serviceImage").src = "https://apis.tradetipsapp.com" + dataResultp.imageDetails;
          // }
        




}
});

  
  </script>
</html>